@model MetaDataViewModel
@if (Model == null) { return; }

@if (!string.IsNullOrWhiteSpace(Model.GoogleTagManagerCode))
{
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', '@Model.GoogleTagManagerCode');</script>
    <!-- End Google Tag Manager -->
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

@if (Model.SeoSettings != null)
{
    if (!string.IsNullOrWhiteSpace(Model.SeoSettings.Title))
    {
        <title>@Model.SeoSettings.Title</title>
    }
    if (!string.IsNullOrWhiteSpace(Model.SeoSettings.Description))
    {
        <meta name="description" content="@Model.SeoSettings.Description">
    }
    if (!string.IsNullOrWhiteSpace(Model.SeoSettings.Keywords))
    {
        <meta name="keywords" content="@Model.SeoSettings.Keywords">
    }
}

<meta name="theme-color" content="#000000">
<meta name="author" content="Carbon Six Digital">

@if (!string.IsNullOrWhiteSpace(Model.GoogleSiteVerificationCode))
{
    <meta name="google-site-verification" content="@Model.GoogleSiteVerificationCode" />
}
@{
    Html.RequiresCss("https://ajax.aspnetcdn.com/ajax/bootstrap/4.4.1/css/bootstrap.min.css")
        .RequiresCss(" https://cdn.jsdelivr.net/npm/icomoon@1.0.0/style.css")
        .RequiresJs("https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.4.1.min.js", 1, new
        {
            defer = "defer",
            crossorigin = "anonymous",
        })
        .RequiresJs("https://ajax.aspnetcdn.com/ajax/bootstrap/4.3.1/bootstrap.min.js", 2, new
        {
            defer = "defer",
            crossorigin = "anonymous",
        });
}

@Html.RenderCssHere()
@Html.RenderJsHere()

@if (!string.IsNullOrWhiteSpace(Model.FacebookPixelCode))
{
    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '@Model.FacebookPixelCode');
      fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1" style="display:none"
             src="https://www.facebook.com/tr?id=@(Model.FacebookPixelCode)&ev=PageView&noscript=1" />
    </noscript>
    <!-- End Facebook Pixel Code -->
}

